.root{
    -fx-background-color: #BAD8E3;
    -fx-font-size: 11pt;
    -fx-font-weight: bold;
    -fx-font-family: "Courier New";
    -fx-fill: #d8d8d8;  
}

.root .score{
    -fx-text-fill: #d8d8d8; 
}

.Text{
    -fx-fill: white
}